#homeHeader{
    height: 15vh;
    display: flex;
    padding: 2% 5vw 2% 5vw;
    justify-content: space-between;
}
#homeLogo{
    width: 25vw;
    height:auto;   
}

@media screen and (max-width: 480px){
    #homeLogo{
        width: 30vw;   
    }
}
