#alertWelcome{
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width:480px) { 
    #alert{
        display: flex;
        gap: 4px;
        padding: 15px 35px 5px 5px;
    }
}
@media screen and (max-width:767px) { 
    #alertWelcome{
        font-size: 0.75em;
    }  
    #heading{
        font-size: 1em;
        line-height: normal;
    }
}
