b{
    font-weight: bold ;
}
.previousData{
    text-align: center;
}
#changeEvent{
    margin: 0%;
    display: block;
    width: 100%;
}
#changeModalButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2%
}
#alert{
    margin: 1% auto 2% auto;
}
@media (max-width: 480px) {
    .text{
        font-size: 0.75em;
    }
}