#divCal{ 
    width: 75vw;
    height: 75vh;
    margin: 2vh auto;
}
.fc-toolbar-title{
    text-align: center;
}
.fc-event, .fc-daygrid-day-number{
    cursor:pointer;
}

@media screen and (max-width: 480px) {
    .fc-toolbar.fc-header-toolbar {
        font-size: 60%
    }
    .fc-col-header-cell-cushion, .fc-daygrid-day-number, .fc-event-title{
        font-size: 70%;
    }
}